// set global variables here to override vuetify defaults
$btn-border-radius: 0;
$text-field-border-radius: 0;
$progress-circular-underlay-stroke: none;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--v-background-base);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--v-missionAccent-base);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--v-missionAccent-base);
}

.v-dialog {
  border-radius: 0px;
}
